<?php

 $title = 'Browse pets';
 $this->headTitle($title);
?>

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="animations.css" />
        <link href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
        <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css"/>
        <script src="jquery-2.1.4.min.js"></script>
        <script src="scripts.js"></script>
        <meta charset="UTF-8">
        
    </head>
    <body>
        <section>
            <div class="menu">
                <h1 class="title-slogan" id="title"><a href="index.html">Spectra</a></h1>
                <h5 class="title-slogan" id="slogan">Your pet needs a friend.</h5>
            </div>
            <div class="user-info">
                    <div class="pet info">
                        <h4><?php echo $this->escapeHtml('tere')?></h4>
                        <h4>Nimi: Kiisu</h4>
                        <h4>Vanus: 3</h4>
                    </div>
                    <div class="owner info">
                        <h4>Omanik: Siim L</h4>
                    </div>
                </div>
            <div class="picture-frame">
                <img class="main-img" src="img/1.jpg">
            </div>
             <div class="buttons">
                <i class="like button icon ion-checkmark-round"></i>
                <i class="no-like button icon ion-close-round"></i>
            </div>
                
        </section>
    </body>
</html>