
::-webkit-scrollbar { 
    display: none; 
}

input{
    padding:0;
}


.chatContainer{
    margin-left:25%;
    margin-right:25%;
    
}

.chatForm{
    width:100%;
}

fieldset{
    min-width: 100%;
    display:inline;
    border:0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -webkit-padding-after: 0;
}



.clear { clear:both; }

.reporter { 
    
    max-width:550px; 
    float:right; 
    
    color:midnightblue; 
    margin-right:20px;
    word-wrap: break-word;  
    text-align: justify; 
}

.interviewee { 
    
    max-width:550px; 
    clear:both; 
    float:left;
    color:#D8D8D8; 
    margin-left:20px;
    color:midnightblue; 
    text-align: justify;
    word-wrap: break-word;
}


.chatBox{
    width:88.6%;
    height:30px;
    border-bottom-left-radius: 5px;
    border:0;
    margin-top:0;
    
}

.chatInput{
    display: inline;
    
}


.chatFeed{
    
    height:500px;
    font-family:'PlayFair Display',serif; 
    margin-left:auto; 
    margin-right:auto; 
    margin-top:30px; 
    margin-bottom:0;
    overflow-y: scroll;
    
    background-color: #BCC7E1;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
    -webkit-overflow-scrolling: touch;
    
    
}

.button-chat{
    text-decoration: none;
    color:white;
    padding-top:11px;
    padding-bottom:10px;
    padding-left:3%;
    padding-right:3%;
    background-color:skyblue;
    font-size: 60%;
    border:0;
    margin-top:0;
    border-bottom-right-radius: 5px;
    
}


.textField{
    padding-left:10px;
     
}

.textField:focus{
    outline:0;
}
/*.interviewee p{
    background-color: #E5EBF5;
    border-radius:10px;
     padding:10px;
     margin:10px;
}

.reporter p{
    background-color: #FFEFD0;
    border-radius:10px;
     padding:10px;
     margin:10px;
}

*/


.timerContainer{
    padding-top:20px;
    
}

.timer{
    background-color: #FF937F;
    font-size: 40px;
    letter-spacing: 1px;
    color:white;
    padding:10px 20px 10px 20px;
    font-family: 'Roboto' sans-serif;
}

.partner{
    font-size: 40px;
    font-family: 'Roboto' sans-serif;
    margin-right:40%;
    padding:10px 20px 10px 20px;
    letter-spacing: 1px;
    background-color: #FF937F;
    color:white;
}

.partner-picture{
    width:80px;
    height:80px;
    border-radius:40px;
    margin-bottom:-25px;
}

/*kaspari lisa*/
.box{
 background-color: #9AABCE;
    opacity:1;
    border-radius:10px;
     padding:10px;
     margin:10px;
    color:#3B3D43;
}

.line{

border-bottom: 1px solid #E5EBF5;
}

@media (max-width:1200px){
    
    .chatContainer{
    margin-left:10%;
    margin-right:10%;
        
        
}
}

@media (max-width:800px){
    
    .mobileTimer{
        display: block;
    }
    
    .timerContainer{
    padding-top:0px;
    text-align: center;
}

.timer{
    
   

    font-family: 'Roboto' sans-serif;
}

.partner{
    
    margin-right:0;
    
   
}

.partner-picture{
    
    display: none;
}

.chatFeed{
    margin-top:0;
    border-radius:0;
}

}


@media (max-width:790px){
    .chatBox{
        width:88.2%;
    }

}
@media (max-width:740px){
    
   
.chatFeed{
    
    
    overflow-x: hidden;
    background-color: #BCC7E1;
    -webkit-overflow-scrolling: touch;
    
    
}
    .chatBox{
        width:87%;
    }
    
        .reporter { 
    
    max-width:200px; 
    margin-right:10px;

}

.interviewee { 
    
    max-width:200px; 
    margin-left:10px;

}

    
}
    
@media (max-width:612px){
    .chatBox{
        width: 86%;
    }
}

@media (max-width:532px){
    .chatBox{
        width:85%;
    }

}
@media (max-width:500px){
    
    .chatContainer{
    margin-left:0%;
    margin-right:0%;
}
   
    .chatFeed{
    background-color: #BCC7E1;
    border-top-left-radius:0px;
    border-top-right-radius: 0px;
    -webkit-overflow-scrolling: touch;
    height:300px;
    
    
}


}

@media (max-width:379px){
    
    .chatBox{
        width:96%;
        border-radius: 0;
    }
    .button-chat{
        display: none;
    }
    
}
