@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
@import url(http://fonts.googleapis.com/css?family=Roboto);
.active{
    display:inline;
}

#title{
    margin-right:50%;
    font-family: 'Dancing Script';
}



html, body, header, footer{
    margin:0;
    padding:0;
    border:0;
    
   
}

body{
    background-color: #E6EAF5;
}


.navigation{
    text-align: center;
    background-color:black;
    opacity:0.4;
    
    padding:20px;

}



ul{
 -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    font-family: 'Roboto';
}

footer{

    text-align: center;
    padding-top:30px;
    margin-bottom:10px;
}

.footer-line{
    width:30%;
    color:black; 
     border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    
}

@media (max-width:454px){
    #title{
        margin-right:10%;
    }
}