html, body{
    
    margin:0;
    padding:0;
    border:0;
    font-family: 'Playfair Display';

}

body{
    background-color:#FFFEFE;
    text-align:center;
   
}

.loginContainer, .registerContainer{
    padding-top:10%;
    text-align: center;
}

.login-container, .register-container{
    margin-left:25%;
    margin-right:25%;
  
   
    background-color:rgba(0,0,0,0.5);
    padding:50px;
    color:white;
    border-radius: 10px;
}


.login-form, .register-form{
    
    margin:10px;
    width:90%;
    border-radius:5px;
    border:none;
    padding:10px;
    padding-left:4px;
    
    background-color:rgba(50,50,50,0.5);
    color:white;
    
    
}

.button-user{
    padding:10px 20px 10px 20px;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    color:white;
    font-size: 15px;
    border-radius: 30px;
    margin-top:20px;
    transition: background-colors 0.7s ease-in-out; 
    border:0;
    cursor: pointer;
    background-color:rgba(100, 100, 100, 0.5);
    margin-bottom:20px;
}

.button-user:hover{
    background-color:rgba(100, 100, 100, 0.8);
}

form{
    margin-left:10%;
    margin-right:10%;
}


@media (max-width:700px){
    .login-container, .register-container{
    margin-left:10%;
    margin-right:10%;
    padding-left:20px;
    padding-right:20px;
}
    
}


@media (max-width:400px){
    
    .login-container, .register-container{
    margin-left:5%;
    margin-right:5%;
    padding-left:10px;
    padding-right:10px;
}
    
    .login-form, .register-form{
    margin:0;
    margin-bottom:10px;
    border-radius:5px;
    border:none;
    padding:10px;
    padding-left:4px;
    
    background-color:rgba(50,50,50,0.5);
    color:white;
    
    
}
}