.friends-list{
    float:right;
    width: 23%;
    max-height: 359px;
    transform:translateY(-159px);
    overflow: scroll;
    background-color: skyblue;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
    text-align: left;
    -webkit-overflow-scrolling: touch;
        
}
.profileContainer{

    padding-top:20px;
    margin-bottom: -200px; 
    
    
   

}





.picture-info-container{
    background-color:skyblue;
    width:50%;
    
    border-radius: 10px;
    margin-left:25%;
}

.profile-picture{
    width:180px;
    height:180px;
    border-radius: 90px;
    
}

.friends-picture{
    width:50px;
    height:50px;
    border-radius:25px;
}

.profile{
    display: inline-block;
    padding:50px 40px 0px 0px;
    color:white;
    
    
}


.ion-android-exit{
    font-size: 11px;
    padding-left:15px;
    
    
    
}


.logout{
    text-align: center;
    line-height: 90px;
}

.user-info{
    display:block;
    padding:10px 30px 10px 30px;
    margin:5px;
    max-width:100%;
    background-color:rgba(70, 64, 124, 0.5);
   
    border-radius:10px;
    font-size: 20px;
}



.logout-button{
    padding:10px 25px 10px 25px;
    background-color:#FFC547;
    font-size: 11px;
    border-radius: 4px;
    transition: background-color 0.5s;
     border: none;
      outline: none;
      letter-spacing: 1px;
      color: white;
      text-transform: uppercase;
      font-weight: normal;
      width: 20%;
   
    
    
}


.logout-button:hover{
    background-color:darkorange; 
}

#profile-info{
    transform: translateY(-10%);

    
}

.friend{
    display: inline-block;
    margin-left:10px;
}

.friend-list-friends{
    padding-bottom:5px;
    padding-top:5px;
    color:rgb(60, 60, 60);
    border-radius: 10px;
    margin-bottom:4px;
  
    
    
}
.friend-info{
    display: block;
  
}

.friend-line{
    width:150%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    
}

.find-friend{
    padding-bottom:20px;
}

.gearContainer{
    float:right;
}

.ion-gear-a{
    
    font-size:20px;
}


@media (max-width:1200px){
    
    .profileContainer{
        margin-bottom:20px;
    }
    
    .friends-list{
        float:inherit;
        width:80%;
        margin-left:10%;
        
        transform:none;
        border-top-right-radius:10px;
        border-bottom-right-radius:10px;
    }
    
    .picture-info-container{
        width:80%;
        margin-left:10%;
    }
    
}

@media (max-width:650px){
    .profile{
    display:block;
    padding:20px 0px 10px 0px;
    
}
    #profile-info{
    transform: none;
    
        
    
}
    .picture-info-container{
        text-align: center;
    }
    .user-info{
    display:block;
    padding:5px 20px 5px 20px;
    margin-left:20%;
    margin-right:20%;
    margin-top:4px;
    margin-bottom:4px;
    font-size: 10px;
    max-width: 50%;    
}
    
    .profile-picture{
    width:140px;
    height:140px;
    border-radius: 70px;
    
        
}

}