@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);


html, body{
    margin:0;
    padding:0;
    border:0;
   
}




.title-slogan{
    display:inline-block;

    
}

#title{
    font-family: 'Dancing Script';
    transform: translateX(50%);
    font-size: 30px;

    
}



#slogan{
    font-family: 'Playfair Display';
    font-style: italic;
    font-size: 14px;
    transform: translateX(50%);
    
}



.user-info{
    width:100%;
    font-size: 15px; 
    font-style:'Playfair Display' sans-serif; 
    text-align: center;
    padding-top: 5px;
}





/*MAIN PAGE STYLING*/


.mainContainer{
  
    width:100%;

    text-align: center;
}

section{
    margin:0;
    padding:0;
    border:0;
    
    
    
}

.helloContainer{
    text-align: left;
}


.whatif{
    font-family: 'Courier';
    font-size: 50px;
    color:whitesmoke;
    animation: type 6s steps(60, end);
   
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 800px;
    margin-left:30%;
}

.whatif:nth-child(2){
  animation: type2 12s steps(60, end);
}



.blink{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

a{
    position: relative;
    color:whitesmoke;
    text-decoration: none;
    
}

a:hover{
    color:whitesmoke;
}

.text-container{
    padding-top:100px;
}

.button-container{
    margin-bottom:2%;
    display: block;
}

.buttonContainer{
    margin-top: 5%;
}

.mainButton:before{
  color: white;
  position: absolute;
  right: 40px;
  font-size: 2em;
  top: 25%;
  z-index: 10;
}




.container {
    text-align: center;
}

.mainButton {
  border: none;
  outline: none;
  background-color: #FF937F;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  width: 20%;
  max-width: 500px;
  position: relative;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  
  text-align: left;
  padding: 2em 5.5em;
    
}

.mainButton:hover {
  cursor: pointer;
}
.mainButton:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  width: 30%;
  background-color: #FFB3A5;
  transition: width 0.7s;
   
}

.mainButton:hover:after {
  transition: width 0.7s;
  width: 100px;
  cursor: pointer;
}

.ion-arrow-right-c:before{
    
    font-size:2.5em;
}

.login{
    background-color:#FCAC00;
}
.login:after{
    background-color:#FFC547;
}


progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}


progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #FFB3A5, #FFC547);

    border-radius: 2px; 
    background-size: 65px 50px, 100% 100%, 100% 100%;
}

.progress-container{
    padding:30px;
    margin-left:400px;
    margin-right:400px;

    }

progress{
    -webkit-appearance: none;
   appearance: none;
    width: 250px;
    height: 50px;
    opacity:1;
}

.footer{
   position:fixed;
    height:125px;
    background-color:red;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
   background-color:rgba(0, 0, 0, 0.4);   
}

.siim{
    margin-right:10%;
    margin-top:25px;
    background-color:rgba(0, 0, 0, .25);
    padding:.5% 1% .5% 1%;
    border-radius:6px;
    
}

.argo{
    background-color:rgba(0, 0, 0, .25);
    padding:.5% 1% .5% 1%;
    border-radius:6px;
}

.creator-credentials{
    display:inline-block;
}

.creator-picture{
    width:50px;
    height:50px;
    border-radius: 25px;
    margin-right:7px;
    transform: translateY(6px);
}

.creator{
    display: inline-block;
}

.creator-info{
    display:block;
    font-size:12px;
}

.creator-line{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
@media (max-width:1190px){
    .mainButton{
        padding: 2.5em 3.5em;
        
        width: 40%;
    }
    .mainButton:after{
    
      width: 20%;
    }
     .ion-arrow-right-c:before{
        font-size:3em;
    }
    progress{
        visibility:hidden;
    }
    .progress-container{
        margin:0;
        padding:0; 
        
    }
    
    
}

@media (max-width:900px){
    .mainButton{
        padding: 2.5em 3.5em;
        
        width: 50%;
    }
    .mainButton:after{
    
      width: 30%;
    }
    .whatif{

    font-size: 70px;

}

}

@media (max-width: 650px) {
    .mainButton{
        padding: 2em 3em;

        width: 80%;
    }
    .mainButton:after{
    
      width: 30%;
    }
    
    .mainButton:after:hover{
        width: 120px;
    }
    
    }
    .whatif{

    font-size: 20px;

}
    .text-container{
        padding-top:30px;
    }

   
}

@media (max-width:400px){
    .buttonContainer{
        margin-top:-10%;
    }
        .whatif{

    font-size: 20px;

}
}