<?php
    if($this->success) {
        ?>
<p>success</p>
        <?php
    }
?>

<form method="post" action="/edit">
    <input type="textbox" name="timestamp" placeholder="timestamp"/>
    <input type="textbox" name="firstName" placeholder="firstName"/>
    <input type="textbox" name="lastName" placeholder="lastName"/>
    <input type="textbox" name="intrests" placeholder="intrests"/>
    <input type="textbox" name="birthday" placeholder="birthday"/>
    <input type="file" name="image" accept="image/*"/>
    <button type="submit">tere</button>
</form>