<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
<style>
    footer{
        visibility:hidden;
    }

</style>
<?php
    $title = $this->loggedUser->username;
    $this->headTitle($title);

    if($this->form) {
        $form = $this->form->form;
    }
?>

<div class="profileContainer"> 
    
    <div class="find-friend">
        <a href="/messages"><button class="ion-arrow-right-c mainButton">Find friends</button></a>
    </div>
    
    <div class="picture-info-container">
    
    <div class="profile" id="user-picture">
        <img class="profile-picture" src="/img/argo.jpg">
        <div>
            <a href="<?php echo $this->url('edit', array('action' => 'upload'))?>">Upload</a>
            <?php
                if($form) {
                $form->prepare();
                echo $this->form()->openTag($form);
            ?>
            <div class="form-element">
                <?php 
                    $fileElement = $form->get('image-file');
                    echo $this->formFile($fileElement);
                    echo $this->formElementErrors($fileElement);
                    ?><button>Submit</button><?php
                    echo $this->form()->closeTag();
                
                ?>
            </div>
            <?php }?> 
        </div>
    </div>
    
    
    
    <div class="profile" id="profile-info">
        <?php if($form) { ?>
            <section class="user-info username editable"> <?php //KLASS ÄRA MUUTA!!?>
                <div class="name" style="display:none">
                <?php 
                    $form->prepare();
                    $this->form()->openTag($form);
                    $name = $form->get('name-fieldset');
                   
                    echo $this->formCollection($name);
                    
                    echo $this->formElement($form->get('csrf'));
                    echo $this->formElement($form->get('submit'));
                                            
                    $this->form()->closeTag($form);
                ?>
                </div>
                <span class="txtbox-value">
                <?php 
                    $name = $this->loggedUserDetails->getFirst_name() . ' ' . $this->loggedUserDetails->getMiddle_name() . ' ' . $this->loggedUserDetails->getLast_name();
                    echo !empty($name) ? $name : 'Add your name.';
                    echo ' (AJUTINE)'
                ?>
                </span>
            </section>
            <?php  } else {?>
                <section class="user-info username ">
                    <span class="userpage-name">
                    <?php 
                    $name = $this->loggedUserDetails->getFirst_name() . ' ' . $this->loggedUserDetails->getMiddle_name() . ' ' . $this->loggedUserDetails->getLast_name();
                    echo !empty($name) ? $name : 'No name added yet.';
                    echo '(AJUTINE)';
                    ?>
                    </span>
                </section>
            <?php }?>
        <section class="user-info username editable">
            <div class="name" style="display:none;">
                <input id="txtbox-first" class="input" type="textbox" value="<?= $this->loggedUserDetails->getFirst_name()?>"/>
                <input id="txtbox-middle" class="input" type="textbox" value="<?= $this->loggedUserDetails->getMiddle_name()?>"/>
                <input id="txtbox-last" class="input" type="textbox" value="<?= $this->loggedUserDetails->getLast_name()?>"/>
            </div>
            
            <button class="confirm" name ="name" style="display:none;"></button>
            <span class="txtbox-value">
                <?php 
                    $name = $this->loggedUserDetails->getFirst_name() . ' ' . $this->loggedUserDetails->getMiddle_name() . ' ' . $this->loggedUserDetails->getLast_name();
                    echo !empty($name) ? $name : 'Add your name.';
                ?>
            </span>
            <div class="gearContainer">
                <span class="ion-gear-a"></span>
            </div>
            
        </section>
        
        <section class="user-info birthday editable">
            <div class="birthday-date-select" style="display:none;">
                <select id="day">
                    <?php for($i=1; $i<32; $i++) {
                    ?><option value="<?= $i?>"><?= $i;?></option><?php
                    }?>
                </select>
                <select id="month">
                    <?php for($i=1; $i<13; $i++) {
                    ?><option value="<?= $i-1?>"><?= $i;?></option><?php
                    }?>
                </select>
                <select id="year">
                    <?php for($i=intval(date('Y')); $i>1970; $i--) {
                    ?><option value="<?= $i?>"><?= $i;?></option><?php
                    }?>
                </select>
            </div>
            <button class="confirm" name ="birthday" style="display:none;"></button>
            <span class="txtbox-value" raw="<?= date('Y-m-d', strtotime($this->loggedUserDetails->getBirthday()));?>">
                <?php
                    $formattedDate = date('j. F Y', strtotime($this->loggedUserDetails->getBirthday()));
                    echo $this->loggedUserDetails->getBirthday() ? $formattedDate : 'Add your birthday.'; ?>
            
            </span>
            <div class="gearContainer">
                <span class="ion-gear-a"></span>
            </div>
        </section>
        
        <section class="user-info intrests editable">
            <input id="txtbox-intrests" class="input" type="textbox" style="display:none;" value="<?= $this->loggedUserDetails->getIntrests()?>"/>
            <button class="confirm" name ="intrests" style="display:none;"></button>
            <span class="txtbox-value"><?php echo $this->loggedUserDetails->getIntrests() ? : 'Add your intrests.'; ?></span>
            <div class="gearContainer">
                <span class="ion-gear-a"></span>
            </div>
        </section>
        
        <section class="user-info random editable">
            <input id="txtbox-random" class="input" type="textbox" style="display:none;" value="<?= $this->loggedUser->username?>"/>
            <button class="confirm" name ="random" style="display:none;"></button>
            <span class="txtbox-value"><?php echo $this->loggedUser->username ? : 'Add your random.'; ?></span>
            <div class="gearContainer">
                <span class="ion-gear-a"></span>
            </div>
        </section>
        <section class="user-info username editable">
            <input id="txtbox-random" class="input" type="textbox" style="display:none;" value="<?= $this->loggedUser->username ?>"/>
            <button class="confirm" name ="random" style="display:none;"></button>
            <span class="txtbox-value"><?php echo $this->loggedUser->username ? : 'Add your random.'; ?></span>
            <div class="gearContainer">
                <span class="ion-gear-a"></span>
            </div>
        </section>
        
      
    </div>
    


    <div class="logout">
        <a href="<? echo $this->url('user', array('user' => $this->loggedUser->username, 'action' => 'logout'))?>" class="logout-button"><span>LOG OUT</span></a>
    </div>
    </div>
</div>

<div class="friends-list">
<?php for($i=0;$i<100;$i++) {
        ?>
        <div class="friend-list-friends">
            <img class="friends-picture friend" src="../img/argo.jpg">
            <div class="friend">
                <span class="friend-name friend-info">Argo</span>
                <hr class="friend-line">
                <span class="friend-message friend-info">Sounds good.</span>
            </div>
        </div>
        <?php
        }?>
</div>
    

</div>
<script src="/js/user.js"></script>

