<style>
    html, body{
        background-image:url('../img/123.jpg');
    }
    
    footer{
        visibility:hidden;
    }

</style>

<?php
    $title = 'Login';
    $this->headTitle($title);
 ?>

<div class="loginContainer">
    <div class="login-container">
        <h4>Log in with your account</h4>
        <p class="error-message"><?php
                if(isset($this->error)) {
                    echo $this->error;
                }
            ?></p>
        <?php
            $form = $this->form;
            $form->setAttribute('class', 'formLogin');
            $form->setAttribute('action', $this->url('login', array()));
            $form->prepare();

            echo $this->form()->openTag($form);
            $login = $form->get('login-fieldset');
            ?>
            <div class="login-item">
                <?php echo $this->formRow($login->get('username')); ?>
            </div>
            <div class="login-item">
                <?php echo $this->formRow($login->get('password')); ?>
            </div>
            <div class="login-item">
                <?php echo $this->formRow($login->get('rememberme')); ?>
            </div>
           <?php 
            echo $this->formHidden($form->get('csrf'));
            echo $this->formElement($form->get('submit'));
            echo $this->form()->closeTag(); ?>
       <a href="register" class="no-login-register"><span>Create a new account</span></a>
    </div>
</div>