
<style>
    html, body{
        background-image:url('../img/123.jpg');
    }
</style>


<div class="profileContainer"> 
    <div class="profile">
        <img src="../img/123.jpg">
        <button>Change picture</button>
    </div>
    <div class="profile">
        <span>Toomas Hendrik Ilves</span>
        <span>12/7/1970</span>
        <span>Hello</span>
        <span>Goodbye</span>
        <span>Hasdwadsa</span>
    </div>
    
</div>

<!--<div class="friends-list">
    <div>
        <div>
            <img src="argo.jpg">
            <span>Argo</span>
            <span>Sounds good.</span>
        </div>
    </div>
    <div>
        <div>
            <img src="img/argo.jpg">
            <span>Argo</span>
            <span>Hello no!</span>
        </div>
    </div>
    <div>
        <div>
            <img src="img/argo.jpg">
            <span>Argo</span>
            <span>See you tomorrow</span>
        </div> 
    
    </div>

</div>
-->