<style>
    html, body{
        background-image:url('../img/123.jpg');
    }
    
    footer{
        visibility:hidden;
    }

</style>


<?php
    $title = 'Register';
    $this->headTitle($title);
 ?>

<div class="registerContainer">
    <div class="register-container">
        <h4>Create your account</h4>
        <?php
            $form = $this->form;
            $form->setAttribute('class', 'form');
            $form->setAttribute('action', $this->url('register', array()));
            $form->prepare();

            echo $this->form()->openTag($form);

            echo $this->formCollection($form);

            echo $this->form()->closeTag();
        ?>
    </div>
    
</div>