<?php
    $title = 'Successfully registered';
    $this->headTitle($title);

?>

<section class="register-confirmation">
    <strong class="registered-user"><?= $this->registeredEmail?></strong>
    <p>A confirmation has been sent to your email</p>
</section>