 <h1>DeleteController::deleteAction()</h1>
 <p>
     Are you sure that you want to delete
     '<?php echo $this->escapeHtml($this->message->getUsername()); ?>' by
     '<?php echo $this->escapeHtml($this->message->getMessage()); ?>'?
 </p>
 <form action="<?php echo $this->url('messages/delete', array(), true) ?>" method="post">
     <input type="submit" name="delete_confirmation" value="yes">
     <input type="submit" name="delete_confirmation" value="no">
 </form>