<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('Spectra '. $this->translate('Speed-dating'))->setSeparator(' - ')->setAutoEscape(false) ?>
        
        <?php echo $this->headMeta()
            ->appendName('keywords', 'chat, meeting, dating, date, hello, spectra, speed-dating, relationship')
            
            
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => '', 'href' => $this->basePath() . ''))
                        
                        
                        ->prependStylesheet($this->basePath('css/animations.css'))
                        ->prependStylesheet($this->basePath('css/chat.css'))
                        ->prependStylesheet($this->basePath('css/style.css'))
                        ->prependStylesheet($this->basePath('css/layout.css'))
                        ->prependStylesheet($this->basePath('css/profile.css'))
                        ->prependStylesheet($this->basePath('css/login.css'))
                        
                        /*Laetakse alt poolt üles*/
                        ?>

        <!-- Scripts -->
        <?php echo $this->headScript()
            ->prependFile($this->basePath('js/chat.js'), 'text/javascript')
            ->prependFile($this->basePath('js/animation.js'))
    
            ->prependFile($this->basePath('js/jquery-2.1.4.min.js'))
            ->prependFile($this->basePath('js/jquery.min.js'))
            ->prependFile($this->basePath('js/respond.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath('js/html5shiv.min.js'),   'text/javascript', array('conditional' => 'lt IE 9',))
        /*Laetakse alt poolt üles*/
            
        ; ?>

    </head>
    
    
  
    <body>
    
    <header>
        <div class="navigation" role="navigation">
                <div class="header">
                    <div class="list-container">
                        <ul class="elements">
                             <a class="active" id="title" href="<?php echo $this->url('home') ?>">&nbsp;<?php echo $this->translate('Spectra') ?></a>
<?php
    if($this->loggedUser->username) {
        $username = $this->loggedUser->username;
    ?>
                            <li class="active"><a href="<?php echo $this->url('home') ?>"><?php echo $this->translate('Home') ?></a></li>
                            <!--<li class="active"><a href="<?php //echo $this->url('album') ?>"><?php //echo $this->translate('Albums') ?></a></li>-->
                            <!--<li class="active"><a href="<?php echo $this->url('image') ?>"><?php echo $this->translate('Image') ?></a></li>-->
                            <li class="active"><a href="<?php echo $this->url('messages') ?>"><?php echo $this->translate('Chat') ?></a></li>
                            
                            <!--<li class="active"> <a href="<?php echo $this->url('album')?>">Albums</a></li>-->
                            
                            <li class="active"> <a href="<?php echo $this->url('user', array('user' => $username))?>"><?= $username?></a></li>
                             <?php } ?>
                            
                        </ul>
                    </div>
                </div>
                
            </div>
    </header>
   
    
        <div class="container">
            <?php echo $this->content; ?>
    
            
        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
