<?php
    if(isset($this->user->username)) {
        $title = $this->user->username;
        $this->headTitle($title);
    }


?>

<div>
    <?php if(isset($this->user->steamid)) {
        ?>
        <div>
            <div>
                <h1>Hello <a href="<?php echo $this->user->userlink; ?>" target="_blank"><?php echo $this->user->username; ?></a></h1>

                <span>Your avatar here: </span>
                <img src="<?php echo $this->user->avatar; ?>">
            </div>

        </div>
        <p>Check if you have CSGO: <span><?php echo ($this->user->hasGame == 1) ? 'Yes' : 'No'; ?></span></p>
        <?php if($this->user->hasGame == 1) {
            ?>
            <div class='user-bet'>
                <button class='roll-button' onclick='$(".user-bet > span").text(Math.floor((Math.random() * 100000) + 10000));'>Take a chance</button>
                <span></span>
            </div>
            <?php
        }?>

        <form action='logout' method='POST'>
            <input type='submit' value='Logout'/>
        </form>

        <?php
        } else {
            ?>
            <form action='login' method='POST'>
                <input type='image' src='http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_large_noborder.png'/>
            </form>
            <?php
        }?>


</div>
