<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
<style>
    html, body{
        background-image:url('../img/123.jpg');
        
    }
    
    
    
    h2, a, h5, span{
       color:white;
    }
    
    
    
</style>


<section>
    <div class="mainContainer">
        <div class="text-container">
            <div class="helloContainer">
                <h2 class="whatif">Hello. Tere. Ciao. Bonjour. Olá. Guten Tag. <span class="blink">|</span></h2>
            </div>
            <h5>Coming soon.</h5>
            <div class="progress-container">
                <progress value="30" max="100"></progress>
            </div>
        
    
      <?php if(!$this->loggedUser->username) {
        ?>
        
    <div class="buttonContainer">    
        <div class="button-container">
            <a href="register"><button class="ion-arrow-right-c register mainButton">REGISTER</button></a>
            
        </div>
        <div class="button-container">
        
            <a href="login"><button class=" mainButton ion-arrow-right-c login">LOGIN</button></a>
        </div>
        <?php }?>              
    
        </div>
    </div>
        
    </div>
    
</section>

        <section class="footer">
            <!--<hr class="footer-line">-->
            <div class="creators">
                <div>
                    <a href="https://www.facebook.com/siim.lukas"><div class="siim creator">
                        <div class="creator-picture creator-credentials">
                            <img class="creator-picture creator-info" src="../img/siim.jpg">
                        </div>
                      <div class="creator-credentials">
                            <span class="creator-info">Siim Lukas</span>
                            <hr class="creator-line">
                            <span class="creator-info">Front-end, design and management</span>
                            <hr class="creator-line">
                    </div>
                    </div>
                    </a>
                    <a href="https://et-ee.facebook.com/argo100000">
                    <div class="argo creator">
                        <div class="creator-picture creator-credentials">
                            <img class="creator-picture creator-info" src="../img/argo.jpg">
                        </div>
                        
                        <div class="creator-credentials">
                            <span class="creator-info">Argo Käsper</span>
                            <hr class="creator-line">
                            <span class="creator-info">Back-end and database management</span>
                            <hr class="creator-line">
                        </div>
                    </div>
                    </a>
                </div>
                    
                
            </div>
        </section>