 <h1>Message Details</h1>

 <dl>
     <dt>Message author</dt>
     <dd><?php echo $this->escapeHtml($this->message->getUsername());?></dd>
     <dt>Message content</dt>
     <dd><?php echo $this->escapeHtml($this->message->getMessage());?></dd>
     <dt>Message timestamp</dt>
     <dd><?php echo $this->escapeHtml($this->message->getTimestamp());?></dd>
 </dl>