


<?php
    $title = 'Messages';
    $this->headTitle($title);
    
    /**
    * @params String $timestamp
    * @return $parsedDate
    */

        


    function parseMessageDate($timestamp)
    {
        $currentDate = new DateTime('now');  
        $messageDate = new DateTime($timestamp);
        
        $dateDifference = $currentDate->diff($messageDate);
    
        if($dateDifference->format('%d') == 0) {
            if($dateDifference->format('%i') < 1 && $dateDifference->format('%h') < 1) {
                $parsedDate = 'Just now';
            } else if($dateDifference->format('%i') < 60 && $dateDifference->format('%h') < 1) {
                $parsedDate = $dateDifference->format('%i') . ' minutes ago';
            } else if($dateDifference->format('%h') > 0 && $dateDifference->format('%h') < 24) {
                $parsedDate = $dateDifference->format('%h') . ' hours ago';
            }
        
        } else if($dateDifference->format('%d') > 0 && $dateDifference->format('%d') < 7) {
            $parsedDate = $messageDate->format('l, H:m');
        } else if($dateDifference->format('%d') > 6) {
            $parsedDate = $messageDate->format('d. F');
        }
        return $parsedDate;
    }   

    function getLink($input)
    {
        $regex = "/[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(\/\S*)?/";
        return preg_replace_callback($regex, function ($matches) {
         trim($matches[0]);
        return "<a href=\"http://{$matches[0]}\" target=\"_blank\" >{$matches[0]}</a>";
    }, $input);
    }

    function Smilify(&$subject)
{
    $smilies = array(
        ':|'  => 'mellow',
        ':-|' => 'mellow',
        ':-o' => 'ohmy',
        ':-O' => 'ohmy',
        ':o'  => 'ohmy',
        ':O'  => 'ohmy',
        ';)'  => 'wink',
        ';-)' => 'wink',
        ':p'  => 'tongue',
        ':-p' => 'tongue',
        ':P'  => 'tongue',
        ':-P' => 'tongue',
        ':D'  => 'biggrin',
        ':-D' => 'biggrin',
        '8)'  => 'cool',
        '8-)' => 'cool',
        ':)'  => 'smile',
        ':-)' => 'smile',
        ':('  => 'sad',
        ':-(' => 'sad',
        ':S' => 'troubled',
        'monsterr' => 'monster',
        ':@' => 'angry',
        '-_-' => '-_-',
        '(A)' => 'angel',
        '(a)' => 'angel',
        'EST' => 'EST',
        'swastika' => 'swastika',
    );

    $sizes = array(
        'biggrin' => 30,
        'cool' => 15,
        'haha' => 20,
        'mellow' => 20,
        'ohmy' => 20,
        'sad' => 20,
        'smile' => 18,
        'tongue' => 30,
        'wink' => 30,
        'swastika' => 50,
    );

    $replace = array();
    foreach ($smilies as $smiley => $imgName)
    {
        $size = $sizes[$imgName];
        array_push($replace, '<img src="../uploads/smileys/'.$imgName.'.gif" alt="'.$smiley.'" width="'.$size.'" height="'.$size.'" />');
    }
    $subject = str_replace(array_keys($smilies), $replace, $subject); 
    return $subject;
}



 ?>
<style>
    form{
        margin-left:25%;
        margin-right:25%;
    }
    @media (max-width:1200px){
    
    form{
    margin-left:10%;
    margin-right:10%;
}
        
    }
   @media (max-width:500px){
    
    form{
    margin-left:0%;
    margin-right:0%;
}
   }
    
    footer{
        display:none;
    }
</style>
        <script src="js/socket.io-1.3.5.js"></script>
        <script>
            /*var socket = io.connect('http://spectra.ambassador.ee:3000');
            socket.on('connect', function() {
                socket.emit('connected', 'new user');
            });*/
            /*var socket = io.connect();
            // on connection to server, ask for user's name with an anonymous callback
            socket.on('connection', function(){
                // call the server-side function 'adduser' and send one parameter (value of prompt)
                socket.emit('loadsession', '');
            });
            // listener, whenever the server emits 'updatechat', this updates the chat body
            socket.on('initNodes', function (data) {
                $(".chatFeed").css("display" , "inline");
            });
            socket.on('updateNodes', function (data) {
                $(".chatFeed").append(data);
            });
            function callServer(data){
                if(data.messages.userId == data.loggedUser.userId) {
                        var messageDivClass = 'reporter';
                    } else {
                        var messageDivClass = 'interviewee';
                    }
                    var all = '<div class="message-container"><div class="'+messageDivClass+' box"><div class="line"><div class="timestamp-container"><span class="timestamp">'+data.messages.timestamp+'</span></div><strong>'+data.messages.username+' </strong><span class="user-functions"><a href="/messages/edit/376">Edit</a><a href="/messages/delete/376"> Delete</a></span></div><div><span class="message'+data.messages.id+'"><p>'+data.messages.message+'</p></span></div></div><br class="clear"></div>';
                $('.chatFeed').scrollTop($('.chatFeed')[0].scrollHeight);
                socket.emit('chat', all); 
                $('.chatInput').val('');
                return false;
            }*/
            
            var socket = io.connect('http://spectra.ambassador.ee:3000');
        </script> 
        
        <div class="chatContainer">
        <div class="timerContainer">
            <img class="partner-picture mobileTimer" src="../img/argo.jpg">
            <span class="partner mobileTimer">Argo</span>
            <span class="timer mobileTimer">05 : 00</span>
            
        </div>
        <div class="chatFeed">
            <?php foreach ($this->messages as $message): ?>
                <div class="message-container">
                <?php if($message->getUserId() == $this->loggedUser->userId) {
                ?>
                    <div class="reporter box">
                <?php } else {
                    ?>
                        <div class="interviewee box">
                    <?php } ?>
                    <div class="line">
                            <div class="timestamp-container">
                            <span class="timestamp"><? echo parseMessageDate($message->getTimestamp())?></span>
                        </div>
                        <strong><?= $message->getUsername() ?></strong>
                        <?php if($this->loggedUser->userId == $message->getUserId()) {
                        ?>
                            <span class="user-functions">
                            <a href="<?php echo $this->url('messages/edit', array('id' => $message->getId()));?>">Edit</a>
                            <a href="<?php echo $this->url('messages/delete', array('id' => $message->getId()));?>">Delete</a>
                        </span>
                        <?php }?>
                        
                    </div>
                        
                    <div>
                        
                        <span class="message<?= $message->getId() ?>">
                            <p>
                                <?= smilify(getLink($message->getMessage())) ?>
                            </p>
                        </span>

                     </div>
                </div>
                <br class="clear">
            </div>
            <?php endforeach ?>
            
                </div>
        </div>
    </div>
            <div class="inputContainer">
                <div class="container-form">
                <?php
                    $form = $this->form;
                    $form->setAttribute('class', 'form');
                    $form->setAttribute('action', $this->url('messages/add', array()));
                    $form->prepare();

                    echo $this->form()->openTag($form);

                    echo $this->formCollection($form);

                    echo $this->form()->closeTag();
                ?>
                </div>
            </div>
    